
/* 
    Basic page structure - 250px wide fixed left sidebar which disappears on extrasmall screens
*/

#topNavbar {
    height: 140px;
}

#wrapper {
    padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
}
