
/* 
    Basic page structure - 250px wide fixed left sidebar which disappears on extrasmall screens
*/

#topNavbar {
    height: 120px;
    overflow: hidden;
    overflow-y: auto;
}

/*
    Quick Summary Sidebar Panel - always visible display of current validation status
*/

div#quickSummaryPanel {
    position: fixed;

    width: 230px;
    
    bottom: 20px;
    top: auto;
    left: 20px;
    right: auto;

    margin: 0;
    z-index: 10;
}

#pageContentWrapper {
    position: relative;
    float: right;
    width: calc(100% - 250px);
}

#sidebarContentWrapper {
    width: 250px;
    padding: 0 0 0 20px;
    overflow-y: auto;
}

body.topNavbarVisible #sidebarContentWrapper {
    position: relative;
    float: left;
    max-height: calc(100% - 360px);
}

body.topNavbarInvisible #sidebarContentWrapper {
    position: fixed;

    top: 20px;
    bottom: auto;
    left: 0;
    right: auto;

    max-height: calc(100% - 200px);
}

#sidebarContentWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

#sidebarContentWrapper::-webkit-scrollbar:vertical {
    width: 11px;
}

#sidebarContentWrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

#sidebarContentWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#sidebarContentWrapper::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.loader {
    position: absolute;
    top: -3px;
    right: 0px;
    
    overflow: hidden;
    background: none;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}
